h1.article-content {
    font-size: 2.8em;
}

.article-content {
    font-size: 2.0em;
}

p.article-content {
    font-size: 1.2em;
}

.article-container {
    margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title {
    font-size: 2.8em;
}

.publish-date {
    font-size: 1.4em;
    color: #a6ada8;
}

.go-back {
    font-size: 1.5em;
}