.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.gallery-img-container {
    height: 10em;
    width: 10em;
    overflow: hidden;
}

.gallery-img {
    height: 100%;
    width: 100%;
}

.gallery-img-selected-container {
    height: 40em;
    width: 40em;
    overflow: hidden;
}

.gallery-img-container:hover {
    box-shadow: 10px 5px 5px black;
}

.gallery-img-selected-container:hover {
    box-shadow: 10px 5px 5px black;
}