.nav-container {
    height: 98%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: var(--primary-background-color-10-lighter);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.nav-header {
    font-size: 2.4em;
    text-decoration: none;
    letter-spacing: .5px;
}

.nav-header span:hover {
    text-decoration: underline;
    cursor: url('/space.cur'), auto;
}

.nav-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-option {
    font-size: 1.4em;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-option:hover {
    text-decoration: underline;
}