.books-book-chips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.book-chip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    height: auto;
    width: 10em;
}

.book-chip-cover {
    height: 15em;
    width: 10em;
    
    border: solid;
    border-width: 2px;
}

.book-chip:hover .book-chip-cover {
    border-width: 3px;
}

.book-chip-other-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.books-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.book-page-description {
    font-size: 1.4em;
    
    border-bottom: solid;
    padding-bottom: 10px;
}