html {
  color: white;
  background-color: #212529;
  font-size: 62.5%;
}

#root {
  margin-left: 5%;
  margin-right: 5%;

  background-color: var(--gray-dark);
  
  /* Change the font for the whole page here */
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.navbar-wrapper {
  margin-top: 10px;
  margin-bottom: 40px;
}

.content-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

a:hover {
  cursor: url('/space.cur'), auto;
}