.site-container {
    height: 100%;

    margin-left: 20%;
    margin-right: 20%;
}

.current-page-container {
    margin-top: 2.5%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-container {
    height: 7.5%;
    width: 100%;
}